.home-cards{
    display: flex;
    gap: 20px;
}

.home-card img{
    min-width: 190px;
    width: 65%;
    border-radius: 100%;
}

.home-card{
    width: 50%;
}

.home-card img:hover{
    opacity: 70%;
}