@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

html {
  font-family: "Funnel Display";
  background-color: #133eaa !important;
}

body {
  margin: 0;
  padding-top: 60px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 95vw;
}

main{
  padding-left: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
  color: white;
}

a{
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  color: rgb(206, 200, 200) !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}